@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: "Roboto" , sans-serif;
	font-size: 18px;
	color: #004B97;
}

img.logo{
	display: inline;
}

h1.title{
	color: white;
	font-size: 35px;
	display: inline;
}

input.input{
	font-family: "Roboto" , sans-serif;
	font-size: 18px;
	color: #004B97;
	border-radius: 6px;
}

div.menu{
	margin-right: auto;
	margin-left: auto;
	width: 1300px;
	background-color: #FE990F;
	border-radius: 6px;
}

button.select{
	border-radius: 6px;
	background-color: firebrick;
	color: white;
	width: 200px;
	border: none;
	transition: 0.5s;
}

button.select:hover{
	border-radius: 50px;
	background-color: red;
	transition: 0.5s;
}

#submit{
	border: none;
}

#submit:hover{
	background-color: red;
	color: white;
	transition: 0.5s;
}

#submit:hover{
	background-color: red;
	color: white;
	transition: 0.5s;
}
